<% include ../partials/header %>


        <h1 style="text-align: center">Create a New Blog</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/blogs" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="image url">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="subdescription" placeholder="Sub header">
                </div>
                <div class="form-group">
                    <textarea id="mytextarea" class="form-control" name="description" placeholder="description"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/blogs">Go Back</a>
        

<!--	</div>-->
<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
  <script type="text/javascript">
  tinymce.init({
    selector: '#mytextarea'
  });
  
  $('form').bind('form-pre-serialize', function(e) {
    tinyMCE.triggerSave();
});
  
  </script>
<% include ../partials/footer %>

